*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2f2;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
    padding: 8px 16px;
    background-color: bisque;
}